#body {
	width: 580px;
	min-height: 700px;
	margin-left: auto;
	margin-right: auto;
	font: Helvetica;
	font-size: 15;
}

#logo {
	width: 580px;
	height: 50px;
	position: absolute; top: 10px;
	background: transparent url('images/logo.gif') no-repeat scroll 0px 0px;
	display: block;
}

#content {
	display: block;
	width: 578px;
	min-height: 610px;
	position: absolute; top: 90px; bottom: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DDD;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DDD;
}

p.info {
	padding: 15px;
	text-indent: 20px;
	text-align: justify;
}

p.userinputinfo {
	text-align: justify;
}

#userinput {
	padding-left: 15px;
}

#img_footer {
	width: 580px;
	height: 50px;
	position: absolute; bottom: 20px; left: -1px;
}

#bottom_links {
	width: 580px;
	position: absolute; bottom: 0px;
	font: Helvetica;
	font-size: 15;
	text-align: center;
}

#cell01 {
	width: 33%;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DDD;
}

#cell02 {
	width: 33%;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DDD;
}

#cell03 {
	width: 33%;
}

a.bottom_links:link {
	text-decoration: none;
	color: grey;
}

a.bottom_links:hover {
	text-decoration: underline;
}

