.container {
	min-height: 650px;
	max-width: 630px;
	position: absolute; bottom: 10px; top: 100px; left: 0px; right: 0px;
	background: rgb(251,251,251);
	padding: 30px;
}

.page-header {
	max-width: 630px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border-color: #e5f2ff;
	border-width: 2px;
}

.page-footer {
	position: absolute; bottom: 00px; left: 0px; right: 0px;
}

#footer-img {
	position: absolute; bottom: 20px;
}

.info {
	text-indent: 20px;
}

.form-control {
	max-width: 220px;
}

#bottom-links {
	width: 100%;
	padding: 0px;
	position: absolute; bottom: 5px;
}

#cell1 {
	width: 33%;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DDD;
}

#cell2 {
	width: 33%;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DDD;
}

